@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  font-family: "League Spartan", serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* ! Theme -1- */
  --main-bg: hsl(222, 26%, 31%);
  --toggle-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);
  --key-bg: hsl(225, 21%, 49%);
  --key-shadow: hsl(224, 28%, 35%);
  --key-bg-red: hsl(6, 63%, 50%);
  --key-shadow-red: hsl(6, 70%, 34%);
  --key-bg-light-orange: hsl(30, 25%, 89%);
  --key-shadow-light-orange: hsl(28, 16%, 65%);
  /* ! Theme -2- */
  /* ! Theme -3- */
}
body {
  background-color: var(--main-bg);
  color: #f2f2f2;
  width: 50%;
  margin: 0 auto;
}
